html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  overflow-x: hidden;
}

html {
  background: linear-gradient(90deg, #e7f8f2 0%, #d9f4ef 100%);
}

html.dark {
  background: #121212;
}
